<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for=""> Numero : {{ number }}</label>
    <label for=""> Precio : {{ price }}</label>
    <label for=""> detalle : {{ detail }}</label>
    <label for=""> Marca : {{ brand }}</label>
    {% if stock == 0 %}
        <label style="color: grey;" for=""> stock : sin stock</label>
    {% else %}
        <label for=""> stock : {{ stock }}</label>
    {% endif %}

</body>
</html>