<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Dos resultado identicos de dos formas distintas</h1>
    <h3> Forma 1</h3>
    <ul>
        {% for item in articulos %}
            {% if item.stock == 0 %}
                <li style="color: red;"> {{ item.number }} - {{item.name}} </li>
            {% else %}
                <li > {{ item.number }} - {{item.name}} </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3> Forma 2 - No es buena practica para backend</h3>
    <ul>
        {% for item in articulos %}
                <li style="{% if item.stock == 0 %} color: red; {% endif %}"> 
                    {{ item.number }} - {{item.name}} 
                </li>
        {% endfor %}
    </ul>
</body>
</html>