<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Todavia no sabemos como agregar archivos externos de css -->
    <style>
        .d-flex{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body class="d-flex">
    <h1> Este es tu perfil !!!</h1>
    <label for="">Nombre : {{name}} </label>
    <label for="">Apellido : {{lastname}} </label>
    <label for="">Edad : {{age}} </label>
</body>
</html>