<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p> Usuario : {{user}}</p>

    <ul>
        {% for friend in friends %}
            {% if friend.state == 'activate' %}
                <li id="{{friend.id}}" style="color: green;" > {{friend.name}} </li>
            {% else %}
                <li id="{{friend.id}}" style="color: red;" > {{friend.name}} </li>
            {% endif %}
        {% endfor %}
    </ul>

</body>
</html>